@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap" rel="stylesheet');


/* Change font to Jakarta font */
html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Plus Jakarta Sans',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(255, 255, 237);
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}

* {
  box-sizing: border-box;
}

.navbar{
  padding: 20px;
  position: absolute;
  width:90%;
  max-width: 1300px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  right: 0;
  background:rgb(255, 255, 237) ;
  z-index: 3;
}

.navbar ul{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li{
  cursor: pointer;
  padding: 5px;
}

.navbar li:hover{
  border-radius: 5px;
  color: #eb7565;
}
.body-layout{
  width:90%;
  max-width: 1300px;
  min-height: 100vh;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.leftNav svg, .rightNav svg{
  width: 30px;
  height: 30px;
cursor: pointer;

}

.leftNav svg:hover, .rightNav svg:hover{
  color: #eb7565;
}

.leftNav, .rightNav{
  position: absolute;
  background-color: black;
  color: white;
  padding: 20px;
  border: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.file-id{
  position: absolute;
  color: black;
  right: 30px;
  bottom: 20px;
  font-size: 10px;
  cursor: pointer;
}

.cvSvgColor {
  color: #eb7565;
}


.leftNav{
  left: 0;
}

.leftNav a{
  display: block;
}

.rightNav{
  right: 0;
}

.appButton{
  width: 100%;
  max-width: 250px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #eb7565;
  color: white;
  margin: 20px auto 50px;
}

.appButton:hover{
  background: inherit;
  border: 1px solid #eb7565;
  color: black;
  cursor: pointer;
}

.navigation{
  background: #FFFFED;
}

.navigation a{
  color: black !important;
}

.error-msg{
  font-size: 10px;
  color: red;
}
@media screen and (min-width:600px){
  .navbar ul{
    justify-content: flex-end;
    gap: 30px;
  }

  .navbar li{
    padding: 10px;
  }
}

@media screen and (min-width:950px){
  .appButton{
    padding: 12px;
    border-radius: 25px;
  }
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}
